.button-primary {
  flex: 1;
  background-color: var(--color-primary, #f56565);
  color: var(--color-background, #fff);
  padding: 1rem;
  border-radius: var(--border-radius-default,0.5rem);
  border: none;
  transition: background-color var(--transition-default,0.2s);
  font-weight: 700;
  font-size: 16px;
}

.button-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-primary:hover {
  background-color: var(--color-primary-hover,#c53030);
}