@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

:root {
  --color-background: #ffffff;
  --color-border: #CFC7C2;
  --color-primary: #f56565;
  --color-primary-hover: #c53030;
  --color-text-label: #767676;
  --border-radius-default: 0.5rem;
  --transition-default: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* SEARCH PAGE CSS */

.container {
  min-height: 100vh;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/public/search_background_image.png') no-repeat center/cover;
}

.card {
  background-color: var(--color-background);
  border-radius: 1rem;
  border: 1.5px solid black;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 2.5rem 2rem;
  width: 100%;
  max-width: 28rem;
}

.pokeball-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.pokeball {
  width: 6rem;
  height: 6rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: var(--color-text-label);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: left;
  text-decoration-skip-ink: none;
  padding: 0.5rem 0;
}

.input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-default);
  height: 50px;
  transition: border-color var(--transition-default), box-shadow var(--transition-default);
}

.input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--color-primary);
}

.button-group {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.button-primary {
  flex: 1;
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 1rem;
  border-radius: var(--border-radius-default);
  border: none;
  transition: background-color var(--transition-default);
  font-weight: 700;
  font-size: 16px;
}

.button-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-primary:hover {
  background-color: var(--color-primary-hover);
}

/* NO POKEMON FOUND */
.container_nopokemon {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-block: 10rem;
  /* justify-content: center; */
  background: #FE5858;
  /* background: url('/public/nopokemon_found.png') no-repeat center/cover; */
}

.header_nopoekmon {
  display: flex;
  align-items: center;
  width: 100%;
  padding-inline: 5rem;
}

.title_nopokemon {
  font-family: "Single Day", serif;
  color: var(--color-background);
  font-size: 75px;
  font-weight: 400;
  line-height: 93.75px;
  text-align: center;
  width: 100%;
}

.back_arrow {}


/* POKEMON PAGE CSS */
.pokemon_page_container {
  min-height: 100vh;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon_page_content_card {
  max-width: 85rem;
  margin: 11rem auto 0;
  background-color: white;
  border-radius: 1.5rem;
  padding: 2rem;
  width: 100%;
  height: 100vh;
}

.pokemon_page_image {
  width: 12rem;
  height: 12rem;
  margin: -6rem auto 1rem;
  display: block;
}

.pokemon_page_title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.pokemon_page_type_container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 1.5rem;
}

.pokemon_page_type {
  border-radius: 16px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin: 4px;
  padding-inline: 5rem;
  padding-block: 1rem;
}

.description {
  text-align: center;
  color: #4b5563;
  margin-bottom: 2rem;
}

.pokemon_page_tab_container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-block: 3rem;
  flex-wrap: wrap;
}

.pokemon_page_tab_content {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-inline: 25rem; */
}


.back_button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px;
  cursor: pointer;
  background: none;
  border:none;
}



.tab_button {
  padding: 1rem 5rem;
  border-radius: 20px;
  font-weight: 500;
  transition: all 0.2s ease;
  outline: none;
  border: none;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
}

.tab_button.active {
  background: #78C850;
  color: white;
}

/* STAT BAR CSS */

.stat_name {
  font-size: 0.875rem;
  font-weight: 500;
  margin-right: 1rem;
}

.stat_base {
  font-size: 0.875rem;
  font-weight: 500;
  color: #666;
  margin-right: 1rem;
}

.stat_bar {
  flex-grow: 1;
  height: 8px;
  border-radius: 3px;
  background-color: #e0e0e0;
  overflow: hidden;
}

.stat_bar_fill {
  height: 100%;
  border-radius: 3px;
  transition: width 0.3s ease;
}

