:root {
  --color-background: #ffffff;
  --color-border: #CFC7C2;
  --color-primary: #f56565;
  --color-primary-hover: #c53030;
  --color-text-label: #767676;
  --border-radius-default: 0.5rem;
  --transition-default: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* SEARCH PAGE CSS */

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/public/search_background_image.png') no-repeat center/cover;
}

.card {
  background-color: var(--color-background);
  border-radius: 1rem;
  border: 1.5px solid black;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 2.5rem 2rem;
  width: 25%;
  max-width: 28rem;
}

.pokeball-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.pokeball {
  width: 6rem;
  height: 6rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: var(--color-text-label);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: left;
  text-decoration-skip-ink: none;
  padding: 0.5rem 0;
}

.input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-default);
  height: 50px;
  transition: border-color var(--transition-default), box-shadow var(--transition-default);
}

.input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--color-primary);
}

.button-group {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.button-primary {
  flex: 1;
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 1rem;
  border-radius: var(--border-radius-default);
  border: none;
  transition: background-color var(--transition-default);
  font-weight: 700;
  font-size: 16px;
}

.button-primary:hover {
  background-color: var(--color-primary-hover);
}

/*  */